$color-midnight-green: #014e56;
$color-light-coral: #f67e7e;
$color-rapture-blue: #79c8c7;
$color-plice-blue: #2c6269;
$color-deep-jungle-green: #004047;
$color-sacramento-state-green: #012f34;
$color-dark-green: #002529;
$color-white: #ffffff;
$weight-medium: 500;
$weight-semi-bold: 600;
$weight-bold: 700;
$transition: 300ms ease-in-out;
